.hero {
    /* width: 92%; */
    height: 100vh;
}

nav {
    width: 100%;
    margin: 0px -52px;
    padding: 20px 10px;

    align-items: center;
    flex-direction: column;
}

.navbar {
    position: fixed;
    z-index: 9;
    transition: all 0.5s ease;
    display: flex;
    width: 100%;
    /* margin-bottom: 20px; */
    padding: 8px 49px;
    /* padding-top: 5px; */
    /* padding-left: 131px; */
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 42px;
    margin-bottom: 12px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 13px;
    margin: 0px 5px;
}

.detail {
    /* margin-left: 4%;
    margin-top: 4%; */
    padding-top: 149px;
    padding-left: 0px;
}

.detail h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -10px;
}

.detail p {
    color: #555;
    /* line-height: 22px; */
    text-align: center;
    font-size: 20px;
}

.detail a {
    /* font-size: 11px;
    padding: 5px 9px;
    margin: 0px 0px; */

    margin-left: 165px;
    margin-top: 16px;
    margin-bottom: 11px;

    font-size: 12px;
    /* padding: 6px 45px; */
    /* margin: 16px 138px; */
}

.detail h1{
    background:
    linear-gradient(to right,rgb(255, 0, 225), rgb(0, 230, 243)),
    linear-gradient(to right,rgb(255, 0, 0),rgba(255, 0, 180, 1),rgba(0, 100, 200, 1));
    background-size: 80% 3px, 0 3px;
    background-position: 50% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
  
.detail h1:hover {
    background-size: 0% 3px, 34% 3px;
}


.images {
    width: 50%;
    height: 118%;
    position: absolute;
    bottom: -161px;
    right: 103px;
}

.images img {
    height: 46%;
    /* position: absolute; */
    left: 50%;
    bottom: 162px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 200px;

}

.images:hover .picture {
    left: 45%;
}

.social {
    /* margin-left: 5%; */
    margin-top: 6px;
    text-align: center;
}

.social a {
    font-size: 20px;
    margin-right: 10px;
    align-items: center;
}


.educational{
    margin: 0px 10px;
}

#skills {
    /* background: url('images/img7.jpg')
     no-repeat center center/cover; */
    /* padding-top: 144px; */
    /* margin-bottom: 50px; */
    padding-bottom: 110px;
    /* padding-bottom: 322px; */
}


.portfolio {
    /* margin-top: 50px; */
    margin-bottom: 50px;
    background-color: #eff4fd;
}

.portfolio__container {
    justify-items: center;
    row-gap: 2rem;
}

#internshipimg {
    /* padding-left: 273px; */
    padding-left: 0px;
    margin-top: 25px;
}

#internshipimg img {
    width: 74%;
    padding-left: 50px;
}


.portfolio__img {
    position: relative;
    overflow: hidden;
    margin-left: 57px;
    /* margin-top: 10px; */
    padding-bottom: 40px;
}

.portfolio__img img {
    width: 42%;
    padding-top: 32px;
    display: inline-flex;
    border-radius: .2rem;
}
.more_certificate{
    text-align: center;
    padding-bottom: 30px;
}
.more_certificate a:hover{
    color: red;

}


#project{
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
    background-color: #fffaf7;
    image-resolution: 10%;
    
}

.projectdetail{
    display: flex;
}
.projectdetail p{
    text-align: center;
}
.projectdetail p:hover{
    color: #ff0000;
}

#project h2{
    color: #216074;
    text-align: center;
}

#project img{
    border: 2px solid #03b5fa;
    width: 65%;
    padding: 30px 30px;
}

#project img:hover{
    opacity: 0.8;
    transition: 10px;
}

#imagessss{
    /* padding-left: 80px; */
    margin: 26px 0px;
    /* justify-content: cent    er; */
    /* align-items: center; */
    text-align: center;
}

#imagessss a:hover{
    color: #0800ff;
    
}



#contact {
    height: 150%;
    /* background: url('images/img6.jpg') no-repeat center center/cover; */
    /* margin-top: 22px; */
    padding-bottom: 223px;
}

/* #contact::before { */
    /* content: ""; */
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    /* z-index: -1; */
    /* opacity: 0.7; */
    /* background: url('images/img6.jpg') no-repeat center center/cover; */
/* } */

#contact-box {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-bottom: 8px;
    padding-top: 15px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.9rem;
}

#contact-box form {
    width: 76%;
    /* height: 1%; */
}

#contact-box label {
    font-size: 1rem;
    font-family: 'Balthazar', serif;
}

#contact-box .btn1 {
    padding: 6px 20px;
    font-size: 15px;
    margin-top: 41px;
    margin-left: 101px;
    /* margin: 0px; */
    /* border-radius: 6px; */
    /* cursor: pointer; */
    /* padding: 3px 20px; */
}



footer {
    padding: 9px 9px;
    margin-top: 20px;
    /* margin-bottom: -29px; */
    /* padding: 0px 7px; */
}


#main {
    text-align: center;
    font-size: 13px;
    padding-top: 7px;
}


#sc {
    padding-top: 10px;
    font-size: 15px;
}
#sc1 {
    font-size: 15px;
    /* padding-right: 50px; */
    /* margin-right: 100px; */
    /* text-align: center; */
    display: block;
    /* padding-bottom: 5px; */
}

.social{
padding: 0px 0px;

}

.social1 a {
    /* display: contents; */
    font-size: 10px;
}

#directcontact{
    /* padding-left: 1100px; */
    /* padding-top: 5px; */
    /* display: inline-flex; */
    /* margin: 10px 10px; */
    text-align: right;
}



.top {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.633);
    border-radius: 40px;
    /* margin-left: 1476px; */
    /* justify-content: right; */
    padding-right: 10px;
    /* text-align: right; */
    /* align-items: right; */
    font-size: 10px;
    position: sticky;
    bottom: 6px;
    
 
}