/* .hero {
    width: 92%;
    height: 80vh;
} */

.hero {
    height: 94vh;
}

nav {
    width: 100%;
    margin: 0px -52px;
    padding: 20px 10px;

    align-items: center;
    flex-direction: column;
}

nav ul li {
    font-size: 10px;
    margin: 0px 3px;
}

.detail {
    padding-top: 130px;
    padding-left: 0px;
}

.detail h1 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: -10px;
}

.detail p {
    font-size: 17px;
}

.detail a {
    margin-left: 145px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 11px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}
/* .cv{
    text-align: center;
    justify-content: center;
    align-items: center;
} */

.images {
    width: 50%;
    /* height: 118%; */

    height: 40%;
    position: absolute;
    bottom: -161px;
    right: 103px;
}

.images img {

    /* height: 136%;
    left: 53%; */
    bottom: 164px;

    height: 132%;
    left: 58%;
    
    /* height: 125%;
    left: 45%; */
    
    /* bottom: 162px;
    height: 134%; */
    /* left: 59%; */
    /* height: 102%;
    left: 50%; */
    /* bottom: 137px; */
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 200px;
}

.images:hover .picture {
    left: 45%;
}

.social {
    margin-top: 6px;
    text-align: center;
}

.social a {
    font-size: 20px;
    margin-right: 10px;
    align-items: center;
}

.desig{
    padding-left: 35px;
}

#year{
    padding: 0px 30px;
}

.portfolio__container {
    /* justify-items: center; */
    /* align-items: center; */
    text-align: center;
    row-gap: 2rem;
}
#internshipimg {
    padding-left: 0px;
    margin-top: 15px;
}

#internshipimg img {
    /* width: 74%;
    padding-left: 50px; */

    width: 83%;
    /* padding-left: 34px; */
}


.portfolio__img {
    position: relative;
    overflow: hidden;
    /* margin-left: 57px; */
    padding-bottom: 40px;
}

.portfolio__img img {
    width: 83%;
    /* padding-left: 34px; */
    padding-top: 15px;
    /* display: inline-flex; */
    border-radius: .2rem;
}


#contact {
    /* height: 150%; */
    padding-bottom: 190px;
}

#contact-box {
    padding-bottom: 8px;
    padding-top: 15px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.9rem;
}

#contact-box form {
    width: 76%;
}

#contact-box label {
    font-size: 1rem;
    font-family: 'Balthazar', serif;
}

#contact-box .btn1 {
    font-size: 13px;
    margin-top: 41px;
    margin-left: 82px;
}

footer {
    padding: 9px 9px;
    margin-top: 20px;
}

